{%- liquid
  assign show_payment_icons = section.settings.show_payment_icons
  assign show_locale_selector = section.settings.show_locale_selector
  assign show_currency_selector = section.settings.show_currency_selector
-%}

<footer class="bg-black flex justify-center text-white py-4">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap items-center justify-center">
      {% if section.settings.footer_text != blank %}
        <div class="footer-text font-montserrat text-[14px] leading-[20px] font-medium text-center">
          {{ section.settings.footer_text }}
        </div>
      {% endif %}
      
      {% if section.settings.footer_text != blank and section.settings.enable_menu %}
        <span class="mx-2 font-montserrat text-[14px] leading-[20px] font-medium">-</span>
      {% endif %}
      
      {% if section.settings.enable_menu %}
        <nav class="footer-menu">
          <ul class="flex flex-wrap items-center justify-center">
            {% for link in section.settings.menu.links %}
              <li>
                <a href="{{ link.url }}" class="font-montserrat text-[14px] leading-[20px] font-medium hover:underline">
                  {{ link.title }}
                </a>
                {% unless forloop.last %}
                  <span class="mx-2 font-montserrat text-[14px] leading-[20px] font-medium">-</span>
                {% endunless %}
              </li>
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
    </div>
  </div>
</footer>

<style>
  .font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }
  
  .font-medium {
    font-weight: 500;
  }
  
  .footer-text, .footer-menu {
    color: oklab(0.41233 -0.00633241 -0.0270027);
  }
</style>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "text",
      "id": "footer_text",
      "label": "Testo footer",
      "default": "© 2025, Store One More Time BUG 301 SRL, P.I. 12690450965"
    },
    {
      "type": "checkbox",
      "id": "enable_menu",
      "label": "Abilita menu",
      "default": true
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu footer",
      "default": "footer"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Mostra metodi di pagamento",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Mostra selettore lingua",
      "default": false,
      "info": "Per mostrare i selettori di lingua, aggiungi le lingue nel tuo pannello di amministrazione."
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "Mostra selettore valuta",
      "default": false,
      "info": "Per mostrare i selettori di valuta, aggiungi le valute nel tuo pannello di amministrazione."
    }
  ],
  "presets": [
    {
      "name": "Footer",
      "category": "Footer"
    }
  ]
}
{% endschema %}